.git
.gitignore
.env
.env.backup
.phpunit.result.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
Thumbs.db
*.log
docker-compose.yml
Dockerfile
.dockerignore
